*{
  margin: 0;
  padding: 0;
}

.main_container{
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: 
    'header header'
    'sidebar main'
    'footer footer';
  grid-gap: 1em;
  width: 100vw;
  height: 100vh;
}

header{
  grid-area: header;
  background: #0042bc;
  color: #f8f8ff;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
}

.sidebar{
  grid-area: sidebar;
  background: #1454cc;
  overflow-y: auto;
}

.sidebar h4{
  color: #f8f8ff;
  font-size: 22px;
  font-weight: 400;
}

.sidebar a{
  padding-left: 12px;
  font-size: 18px;
}

.sidebar a:link{
  color: #f8f8ff;
}

.sidebar a:hover{
  color: #f0f0f7;
}

.content{
  padding: 10px;
}

main{
  grid-area: main;
  background: tomato;
}

main div {
  display: none;
}

footer{
  grid-area: footer;
  background: #0042bc;
  color: #f8f8ff;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}